<h1>Editing User</h1>

<%= render 'form', user: @user, url_add: user_path, button_name: 'Update User' %>

<%= render @user.tweets , locals: {tweet: @user.tweets} %>


<%= link_to 'Back', twitter_path %>
